# Python Functions Assignment

1. **What is the difference between a function and a method in Python?**

A function is a block of code that performs a specific task. A method is a function associated with an object.

**Example:**
```python
def greet():
    return 'Hello'

print(greet())

text = 'hello'
print(text.upper())  # upper is a method of string object```

2. **Explain the concept of function arguments and parameters in Python.**

Parameters are the variables listed in the function definition. Arguments are the values passed to the function.

**Example:**
```python
def add(a, b):  # a and b are parameters
    return a + b

result = add(2, 3)  # 2 and 3 are arguments```

3. **What are the different ways to define and call a function in Python?**

**Example:**
```python
def say_hello():
    return 'Hello'

print(say_hello())

# With arguments
def greet(name):
    return f'Hello, {name}'

print(greet('Alice'))```

4. **What is the purpose of the `return` statement in a Python function?**

It sends a result back to the caller and terminates the function execution.

**Example:**
```python
def square(x):
    return x * x

print(square(4))```

5. **What are iterators in Python and how do they differ from iterables?**

An iterable is an object which can be looped over. An iterator is the object used to perform the iteration.

**Example:**
```python
my_list = [1, 2, 3]  # Iterable
iterator = iter(my_list)  # Iterator
print(next(iterator))```

6. **Explain the concept of generators in Python and how they are defined.**

Generators are iterators with `yield` keyword instead of `return`, allowing lazy evaluation.

**Example:**
```python
def gen():
    yield 1
    yield 2

for i in gen():
    print(i)```

7. **What are the advantages of using generators over regular functions?**

- Save memory
- Improve performance with large data
- Lazy evaluation

**Example:**
```python
def gen():
    for i in range(1000000):
        yield i```

8. **What is a lambda function in Python and when is it typically used?**

A small anonymous function used for short operations.

**Example:**
```python
square = lambda x: x * x
print(square(5))```

9. **Explain the purpose and usage of the `map()` function in Python.**

`map()` applies a function to all items in an iterable.

**Example:**
```python
nums = [1, 2, 3]
squares = list(map(lambda x: x * x, nums))
print(squares)```

10. **What is the difference between `map()`, `reduce()`, and `filter()` functions in Python?**

- `map()`: Applies a function to all items.
- `filter()`: Filters items based on condition.
- `reduce()`: Reduces to a single value.

**Example:**
```python
from functools import reduce
nums = [1, 2, 3, 4]
print(list(map(lambda x: x * 2, nums)))
print(list(filter(lambda x: x % 2 == 0, nums)))
print(reduce(lambda x, y: x + y, nums))```

11. **Using pen & paper write the internal mechanism for sum operation using reduce function on list [47,11,42,13]**

_(Attach image in Google Colab manually or describe mechanism)_

Steps: `(((47 + 11) + 42) + 13)` = 113

### 1. Write a function to return the sum of all even numbers in a list.

In [1]:
def sum_even(numbers):
    return sum(num for num in numbers if num % 2 == 0)

sum_even([1, 2, 3, 4, 5, 6])

12

### 2. Reverse a string using function.

In [2]:
def reverse_string(s):
    return s[::-1]

reverse_string('Python')

'nohtyP'

### 3. Square each element in a list.

In [3]:
def square_list(lst):
    return [x**2 for x in lst]

square_list([1, 2, 3, 4])

[1, 4, 9, 16]

### 4. Check if numbers from 1 to 200 are prime.

In [4]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

primes = [n for n in range(1, 201) if is_prime(n)]
primes

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199]

### 5. Create Fibonacci iterator class.

In [5]:
class Fibonacci:
    def __init__(self, max):
        self.max = max
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.max:
            raise StopIteration
        self.a, self.b = self.b, self.a + self.b
        self.count += 1
        return self.a

list(Fibonacci(10))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### 6. Generator yielding powers of 2.

In [6]:
def powers_of_two(n):
    for i in range(n):
        yield 2 ** i

list(powers_of_two(10))

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

### 7. Generator to read file line by line.

In [7]:
# Make sure to upload a sample.txt file first

def file_reader(filename):
    with open(filename, 'r') as f:
        for line in f:
            yield line.strip()

# for line in file_reader('sample.txt'):
#     print(line)

### 8. Sort list of tuples by second element using lambda.

In [8]:
data = [(1, 3), (2, 1), (3, 2)]
sorted(data, key=lambda x: x[1])

[(2, 1), (3, 2), (1, 3)]

### 9. Use map to convert Celsius to Fahrenheit.

In [9]:
celsius = [0, 10, 20, 30]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
fahrenheit

[32.0, 50.0, 68.0, 86.0]

### 10. Use filter to remove vowels from a string.

In [10]:
def remove_vowels(s):
    return ''.join(filter(lambda ch: ch.lower() not in 'aeiou', s))

remove_vowels('Hello World')

'Hll Wrld'

### 11. Bookshop accounting using lambda and map.

In [11]:
orders = [
    ['34587', 'Learning Python', 4, 40.95],
    ['98762', 'Programming Python', 5, 56.80],
    ['77226', 'Head First Python', 3, 32.95],
    ['88112', 'Einf√ºhrung in Python3', 3, 24.99]
]

result = list(map(lambda order: (order[0], order[2]*order[3] + (10 if order[2]*order[3] < 100 else 0)), orders))
result

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]